@model CleaningProducts.UI.Models.Supplier

@{
	ViewBag.Title = "Add Supplier";
}

<div class="page-header">Add Supplier</div>

<br />

@using (Html.BeginForm("AddSupplier", "Home"))
{

	@Html.HiddenFor(m => m.Id)

	<div class="row">
		<div class="col-md-4 col-sm-4 col-xs-4 text-right">
			@Html.LabelFor(m => m.Code)
		</div>
		<div class="col-md-8 col-sm-8 col-xs-8">
			@Html.TextBoxFor(m => m.Code, new { @class = "form-control" })
		</div>
	</div>
	<br />
	<div class="row">
		<div class="col-md-4 col-sm-4 col-xs-4 text-right">
			@Html.LabelFor(m => m.Name)
		</div>
		<div class="col-md-8 col-sm-8 col-xs-8">
			@Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
		</div>
	</div>
	<br />
	<div class="row">
		<div class="col-md-4 col-sm-4 col-xs-4 text-right">
			@Html.LabelFor(m => m.Telephone)
		</div>
		<div class="col-md-8 col-sm-8 col-xs-8">
			@Html.TextBoxFor(m => m.Telephone, new { @class = "form-control" })
		</div>
	</div>
	<br />
	<div class="row">
		<div class="col-md-4 col-sm-4 col-xs-4">
		</div>
		<div class="col-md-8 col-sm-8 col-xs-8">
			<input name="Save" class="btn btn-primary btn-block" type="submit" value="Submit" />
		</div>
	</div>
}

<hr />

@Html.Action("_AllSuppliers", new List<CleaningProducts.UI.Models.Supplier>())
